<% provide(:title, @photo.title) %>






<div class="row">

 	<table class="itemlist"  table-layout='fixed'>
 	   <tr class='item_title'><th colspan = 3><%= @photo.title %></th>
 	    <th colspan = 1><%= %></th></tr>
        <%= render 'shared/photo_info' %>
       
      </table> 
  
    
  </div>
  
 
