<% provide(:title, @category.name) %>






<div class="row">
 
 <section class="user_info">
 	<table class="itemlist"  table-layout='fixed'>
 	   <tr class='item_title'><th colspan = 3><%=  %></th>
 	    <th colspan = 1><%= @category.name %></th>
        <tr><%= render 'shared/category_info' %></tr>
       
      </table> 
  
      </section>
    
  </div>
  
 
</div>