<tr>
    
    <td class = 'category_user_info' width = '200px'>
        
       
    </td>
    
    
    
	   
  	
  </tr>
  <tr><td colspan = 3><%= @category.name %></td></tr>



<%# link_to item.title, item %>

<%# link_to "Reply", new_message_path(:parent_id => i) %> 




	



