<div class='divcenter'>
 <%= @photo.title %>
 <%= image_tag @photo.picture, :class=>"img-responsive center-bldock", :id => 'fullscreen', :width => '600', :alt =>"photo pic" %></div>

 <br><br>
  <%= @photo.description %>
  <!-- <span id="demo">full screen</span> -->






</div>







