<br><%= @photo.title %><br>

<div class='menu row' style="-moz-column-width: 490px;">
 	
 <span>
  
  <%= image_tag @photo.picture, :class=>"list-group-item img-responsive center-bldock", :id => 'fullscreen', :alt =>"photo pic" %>
  <div class="list-group-item">
   <%=@photo.description%>
  </div>
 
 
 </span>
</div>


 

<%= @rr%>






