

<div class='menu row' style="-moz-column-width: 400px;width:90%;margin: 0 auto">
 	<br>
 	<%= @photo.title %>
 	<br>
 <span>
  
  <%= image_tag @photo.picture, :class=>"list-group-item img-responsive center-bldock", :id => 'fullscreen', :alt =>"photo pic" %><br><br>
  <div class="list-group-item">
   <%=@photo.description%>
  </div>
 
 
 </span>
</div>


 








