<tr>
    
    
        
       
    </td>
    <td width = '300px'><%= image_tag @photo.picture, :height => '600', :alt =>"photo pic" %></td>
    
    
	   
  	
  </tr>
  <tr><td colspan = 3><%= @photo.title %></td></tr>
 <tr><td colspan = 3>
     
     <% if @shoonga %>
          <%= link_to "delete", @photo, method: :delete,
                                           data: { confirm: "You sure?" } %>
          <%= link_to "edit", edit_photo_path(@photo.id) %>
     <% end %>  
        </tr>






	



