
<div class="menu row">
    <div class="menu-category list-group ">
        
     <span>
       <a href = "photos/<%= photo.id %>" class="list-group-item"><%= image_tag(photo.picture, width: '100%', alt:'') %></a>
       <%= link_to photo.title, photo %>
        <!-- <div class="menu-category-name list-group-item active"><%= link_to photo.title, photo %></div> -->
    </span>
    </div>

</div>






