<div class="row">
  
  <%= flash[:notice] %>
   

  <% if @photos %>
  
   
   <%= render @photos %>
   
  <% else %>
 <%= render @r %>
  <% end %>  
     
     
   
</div>
 
 <% if @photos %>

     <li><%= will_paginate @photos%></li>
  
 <% end %>
     <%# render 'shared/aside' %>