<div class="row">
  



  <% if @photos %>
  
   
   <%= render @photos %>

  <% end %>  
     
     
   
</div>
 
 <% if @photos.count > 3 %>

     <li><%= will_paginate @photos%></li>
  
 <% end %>
     <%# render 'shared/aside' %>