<div class="row">
  
  
   

  
  
     
     <%= render @categories %>
  
     <%= will_paginate @categories%>
  
      <li><h5> <%= @categories.count %></h5></li>
 
     <%# render 'shared/aside' %>
     
    
</div>
 

