<div class="">
<% if controller.action_name == "index" %>
	<!-- this section for @photos ----------------------------->
	<% if session[:category] && session[:category] != 'random'%>
	    <% if @photos.count > 3 %>
	    	<div style="display:inline-block" class="pagination">
	        <span style="line-height:20px" class="pagination"> <%= link_to session[:category], photos_path(category: session[:category]) %></span>
	        <%= -@photos.count %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	        <%= will_paginate @photos, :previous_label=>"<", :next_label=>">" %>
	        </div>
		<% end %>
	<% end %>		
<% else %>
	<% if controller.action_name == "show" && @photo %>
		<div class = "pagination">
		<%= session[:category_name]  %>&nbsp
		<%# link_to "<---    ", photo_path(id: @photoback.to_s), :style => "margin-left:55px" %>&nbsp
		<%# @index.to_s %>&nbsp
		<%# link_to "    --->", photo_path(id: @photonext.to_s) %>
  		</div>
  	<% end %>
<% end %>
 
</div>


